[Desktop Entry]
Encoding=UTF-8
Name=WEALTHSILO
Comment=WEALTHSILO P2P Cryptocurrency
Comment[fr]=WEALTHSILO, monnaie virtuelle cryptographique pair à pair
Comment[tr]=WEALTHSILO, eşten eşe kriptografik sanal para birimi
Exec=wealthsilo-qt %u
Terminal=false
Type=Application
Icon=wealthsilo128
MimeType=x-scheme-handler/wealthsilo;
Categories=Office;Finance;
